---
title: russian-vocabulary-test
permalink: russian-vocabulary-test
layout: default
---

<p class="text-right"><a class="btn btn-primary" href="{{ site.github.url }}/russian-vocabulary" role="button">Study</a></p>

{% assign tabsayisi = site.data.russian-turkish-vocabulary.vocabulary| size | divided_by: 20 | plus: 1 %}

<ul class="nav nav-pills" role="tablist">
{% for i in (1..tabsayisi) %}
    <li role="presentation" class="{% if forloop.index0 == 0 %}active {% endif %}"><a href="#s{{ i }}" aria-controls="s{{ i }}" role="tab" data-toggle="tab">{{ i }}</a></li>
{% endfor %}
</ul>

<div style="margin-top:20px"></div>

<div class="tab-content">

{% for i in (1..tabsayisi) %}

    <div role="tabpanel" class="tab-pane {% if forloop.index0 == 0 %}active {% endif %}" id="s{{ i }}">

        <div class="panel panel-default">

        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-1">
                <col class="col-xs-5">
                <col class="col-xs-4">
                <col class="col-xs-2">
            </colgroup>

            <thead>
                <tr>
                    <th>No</th>
                    <th>English</th>
                    <th>Russian</th>
                    <th>sound</th>
                </tr>
            </thead>

            <tbody>
 {% assign satir = 20 %}
 {% assign sayfa = forloop.index0 | times: satir %}
            {% for word in site.data.russian-turkish-vocabulary.vocabulary limit:satir offset:sayfa %}
            
            {% assign words = word.word | split: ';' %}
            
                <tr>
                <td> {{ sayfa | plus: forloop.index }} </td>
                <td> {{ words[0] }} - {{ words[2] }} </td>
                <td> <input type="text" ng-model="wt{{ i }}t{{ forloop.index }}" placeholder="" ng-style="(wt{{ i }}t{{ forloop.index }} | lowercase) =='{{ words[1] }}' ? {'background-color': 'greenyellow'} : {'background-color': 'white'} "> </td>
                <td> <audio controls class="myaudio"> <source  src="{{ site.github.url }}/assets/sound/vocabulary/{{ words[4] }}.mp3" type="audio/mpeg"></audio> </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
    
    </div>

{% endfor %}
</div>
